<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kantin Modern.</title>

    <!-- Favicon -->
    <link rel="icon" href="assets/img/logo.jpg" type="image/x-icon">

    <!-- Path Folder -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Links -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Nabla&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Nabla&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    
  <!-- Font Awesome for Icons -->
  <style>
    .font-great-vibes {
        font-family: 'Great Vibes', cursive;
    }

    .font-sixtyfour-convergence {
        font-family: 'Sixtyfour Convergence', sans-serif;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .animated-bg {
        background: linear-gradient(270deg, #fbd204, #ffffff, #f7d00a);
        background-size: 400% 400%;
        animation: gradientAnimation 6s ease infinite;
    }

    @keyframes slideInFromRight {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* Terapkan animasi dengan durasi lebih lama */
    .slide-right-to-left {
        animation: slideInFromRight 3s ease-out; /* Durasi 3 detik */
    }
    
 /* Animasi teks */
 .animate-text {
    animation: bounceText 1.5s infinite;
  }
  
  @keyframes bounceText {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
  }
  
  .animate-move {
    display: inline-block; /* Pastikan gambar dapat bergerak */
    animation: moveImage 2s infinite alternate; /* Animasi gerakan */
  }
  
  @keyframes moveImage {
    0% {
        transform: translateX(0); /* Posisi awal */
    }
    100% {
        transform: translateX(10px); /* Gerakan ke kanan */
    }
  }

  

</style>

</head>
<body>
    <header class="sticky top-0 bg-white z-50 py-4">
        <nav class="px-12 grid grid-cols-12 items-center">
            <!-- Left side -->
            <div class="flex gap-5 items-center col-span-4">
                <h1 style="font-family: 'Sixtyfour Convergence', sans-serif;" class="font-bold text-1xl">
                    <a href="index.html">
                        <span style="display: block;">Kantin</span>
                        <span style="display: block;">Modern</span>
                    </a>
                </h1>
            </div>
            
            <!-- Centered food icon -->
            <div class="col-span-4 flex justify-center items-center">
                <a href="index.html" class="mr-4">
                    <img src="/template/jpg/diet_706195.png" alt="Food Icon" class="w-12 h-12">
                </a>
                <a href="index.html" class="mr-4">
                    <img src="/template/jpg/diet_561611.png" alt="Food Icon" class="w-12 h-12">
                </a>
                <a href="index.html" class="mr-4">
                    <img src="/template/jpg/fast-food_737967.png" alt="Food Icon" class="w-12 h-12">
                </a>
               
            </div>
            
            <!-- Right side -->
            <div class="col-span-4 flex justify-end items-center gap-4">
                <ul class="flex gap-2">
                   <li>
        <a href="/template/about.html" class="nav-item py-2 px-4 rounded-md">
            Tentang
        </a>
    </li>
    <li>
        <a href="/template/kontak.html" class="nav-item py-2 px-4 rounded-md">
            Kontak
        </a>
    </li>
    <li>
        <a href="/template/pagemakan.html" class="nav-item py-2 px-4 rounded-md">
            Pesan
        </a>
    </li>
                </ul>
                <a href="/pages/register.html" class="border-2 border-orange-500 py-2 px-4 rounded-3xl text-orange-500 hover:bg-orange-600 hover:text-white hover:border-orange-600 duration-500" style="font-family: 'Poppins', sans-serif; font-weight: bold;">
                    <p>Register</p>
                </a>
            </div>
        </nav>
    </header>
    
    

    <!-- HERO SECTION -->
    <section class="hero bg-cover bg-center flex items-center" style="height: 80vh; background-image: url('https://media.giphy.com/media/7JzHsh3UTip20/giphy.gif'); background-size: cover; background-position: center;">
        <!-- Bagian Teks -->
        <div class="hero-text text-white pl-16 w-1/2" style="font-family: 'Poppins', sans-serif;">
            <h1 class="text-4xl font-bold">Pesan Makanan Sekarang Juga, Cepetan!</h1>
            <div class="py-10">
                <a href="/pages/login.html" class="bg-orange-500 px-10 py-2 rounded-xl font-bold text-xl text-white hover:bg-orange-600 duration-500" style="font-family: 'Poppins', sans-serif;">
                    Login
                </a>
            </div>
        </div>
    
        <!-- Bagian Gambar -->
        <!-- <div class="hero-image w-1/2 flex justify-end pr-16">
            <img src="/template/jpg/depositphotos_175741068-stock-illustration-food-adventure-city.jpg" alt="Hero Image" class="w-96 h-auto">
        </div> -->
    </section>
    
    
    
    <!-- END HERO SECTION -->

    <!-- CARD SECTION-->
    <section class="m-40 relative" style="top: -60px;">

        <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-none text-center md:text-3xl lg:text-4xl slide-right-to-left" style="font-family: 'Poppins', sans-serif;">
            Layanan Kami
        </h1>
        <!-- container -->
         <div class="grid grid-cols-4 gap-10">
            <!-- card -->
             <div class="bg-white shadow-xl shadow-gray-300 p-4 rounded-xl">
                <div class="bg-white rounded-xl h-46">
                    <img
                        src="https://png.pngtree.com/png-vector/20200522/ourmid/pngtree-hands-holding-smartphone-to-send-message-png-image_2210454.jpg"
                        alt="card-image" class="rounded-lg object-cover w-full h-full" />
                </div>
                <div class="my-5 text-black font-sans font-semibold" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: bold;">
                    <p>Pemesanan online</p>
                </div>
                
                
             </div>
            <!-- end of card -->

            <!-- ########################## -->
            <!-- card -->
            <div class="bg-white shadow-xl shadow-gray-300 p-4 rounded-xl">
                <div class="bg-white rounded-xl h-46">
                    <img
                        src="https://img.freepik.com/premium-vector/credit-card-cash-withdrawal-payment_68708-2050.jpg"
                        alt="card-image" class="rounded-lg object-cover w-full h-full" />
                </div>
                <div class="my-4 text-black font-sans font-semibold" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: bold;">
                    <p>Bayar dengan mudah</p>
                </div>
             </div>
            <!-- end of card -->    

            <!-- ########################## -->
            <!-- card -->
            <div class="bg-white shadow-xl shadow-gray-300 p-4 rounded-xl">
                <div class="bg-white rounded-xl h-46">
                    <img
                        src="https://png.pngtree.com/png-clipart/20191113/ourmid/pngtree-mobile-payment-digital-marketing-online-payment-systems-e-commerce-shopping-in-png-image_1983783.jpg"
                        alt="card-image" class="rounded-lg object-cover w-full h-full" />
                </div>
                <div class="my-4 text-blackfont-sans font-semibold" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: bold;">
                    <p>Pembayaran aman</p>
                </div>
             </div>
            <!-- end of card -->          
            
            <!-- ########################## -->
            <!-- card -->
            <div class="bg-white shadow-xl shadow-gray-300 p-4 rounded-xl">
                <div class="bg-white rounded-xl h-46">
                    <img
                        src="https://png.pngtree.com/png-clipart/20211017/original/pngtree-woman-choosing-food-illustration-png-image_6859661.png"
                        alt="card-image" class="rounded-lg object-cover w-full h-full" />
                </div>
                <div class="my-4 text-black font-sans font-semibold" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: bold;">
                    <p>Banyak pilihan</p>
                </div>
             </div>          
         </div>
    </section>
    <!-- END OF CARD SECTION -->

  <!-- MENU SPESIAL SESSION -->
  <section class="mx-80 animated-bg relative" style="top: -80px;">

    <div style="position: relative; text-align: center; ">
        <h1 class="font-great-vibes text-9xl text-orange-500" style="position: relative; z-index: 1; top: 20px;">Spesialis</h1>
        
        <h2 class="text-4xl font-semibold mt-4 text-black" style="position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%); font-family: 'Poppins', sans-serif; z-index: 2;">Menu Kami</h2>
    </div>

    <section id="Card Menu Spesial"
        class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

        <!--   ✅ Product card 1 - Starts Here 👇 -->
        <div class="w-65 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="#">
                <img src="https://i.pinimg.com/originals/45/1c/3a/451c3a2537616f5d5d06750972b5458e.jpg"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
                <div class="px-4 py-3 w-72">
                    <span class="text-gray-400 mr-3 uppercase text-xs">HEHE</span>
                    <p class="text-lg font-bold text-black truncate block capitalize">Nasi Padang</p>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold text-black cursor-auto my-3">Rp.10,000</p>
                        <del>
                            <p class="text-sm text-gray-600 cursor-auto ml-2">Rp.20,000</p>
                        </del>
                        <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg></div>
                    </div>
                </div>
            </a>
        </div>
        <!--   🛑 Product card 1 - Ends Here  -->

        <!--   ✅ Product card 2 - Starts Here 👇 -->
        <div class="w-65 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="#">
                <img src="https://img.kurio.network/FJEY_di09bEOFHW1qPCwS87mjUI=/440x440/filters:quality(80)/https://kurio-img.kurioapps.com/22/09/26/ea665aec-bb3e-4232-9fa2-6b29197a5884.jpg"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
                <div class="px-4 py-3 w-72">
                    <span class="text-gray-400 mr-3 uppercase text-xs">HOHO</span>
                    <p class="text-lg font-bold text-black truncate block capitalize">Pecel Lele</p>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold text-black cursor-auto my-3">Rp.10,000</p>
                        <del>
                            <p class="text-sm text-gray-600 cursor-auto ml-2">Rp.17,000</p>
                        </del>
                        <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg></div>
                    </div>
                </div>
            </a>
        </div>
        <!--   🛑 Product card 2- Ends Here  -->

        <!--   ✅ Product card 3 - Starts Here 👇 -->
        <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
            <a href="#">
                <img src="https://asset.kompas.com/crops/HIamUWpszt2wsV2KspqPn4S5w-o=/0x442:667x886/750x500/data/photo/2021/05/22/60a880ee66dfe.jpg"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
                <div class="px-4 py-3 w-72">
                    <span class="text-gray-400 mr-3 uppercase text-xs">Yoyoy</span>
                    <p class="text-lg font-bold text-black truncate block capitalize">Mie Tek-Tek</p>
                    <div class="flex items-center">
                        <p class="text-lg font-semibold text-black cursor-auto my-3">Rp.16,000</p>
                        <del>
                            <p class="text-sm text-gray-600 cursor-auto ml-2">Rp.21,000</p>
                        </del>
                        <div class="ml-auto"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                            </svg></div>
                    </div>
                </div>
            </a>
        </div>
        <!--   🛑 Product card 3 - Ends Here  -->
    </section>
</section>
<!-- MENU SPESIAL SESSION END -->


<!-- blogs session -->
 
 <!-- end -->

    <!-- MAPS SESION -->
    <!-- <div class="px-10 py-4 text-center pb-10">
        <h1 class="mb-4 text-4xl font-semibold tracking-tight leading-none text-md:text-3xl lg:text-4xl" style="font-family: 'Poppins', sans-serif;">
            Temukan kami
        </h1>
        
        <div class="flex flex-col space-y-2 sm:flex-row sm:justify-center sm:space-y-1">
            <div class="row">
                <iframe
                 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126693.57846419746!2d107.78890013776288!3d-7.105785776214335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68b789c9645aaf%3A0x401e8f1fc28c920!2sKec.%20Leles%2C%20Kabupaten%20Garut%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1703008403145!5m2!1sid!2sid"
                 width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
            <!-- component -->
            <!-- <div class="max-w-screen-xl space-y-8 overflow-hidden">
            </div>
        </div>
    </div> -->
    
<!-- MAPS SESION END -->

<!-- MIRA SESSION -->
<section class="partners">
    <h2 class="text-3xl font-semibold text-center mb-6" style="font-family: 'Poppins', sans-serif;">
        Mitra-mitra yang Telah Percaya Aku Laper
    </h2>
    <div class="partner-logos flex space-x-4  mb-6 justify-center">
        <img src="https://arest.web.id/sites/default/files/styles/foto_company_singlepost/public/logo-mie-gacoan.jpg?itok=77ZAf8YK"
             alt="Mie Gacoan Logo" class="w-32 h-32 object-cover rounded-lg">
        <img src="https://th.bing.com/th/id/R.85242fcb7960ea63b50000bff1716c92?rik=shZ%2fTGW1xTf%2b5A&riu=http%3a%2f%2f1000logos.net%2fwp-content%2fuploads%2f2017%2f05%2fsymbol-Pizza-Hut.jpg&ehk=m76RNfc77fNe7bk0fKFRigg45rrLv83lekwI2MiOwL0%3d&risl=&pid=ImgRaw&r=0s"
             alt="Pizza Hut Logo" class="w-32 h-32 object-cover rounded-lg">
    </div>
</section>

    <!-- MITRA SESSION END -->

    <!-- R U ADMIN SECTION -->
    <div class="flex items-center mt-2 relative" style="top: 1px; position: relative;">
        <!-- Gambar yang bisa ditekan dan bergerak -->
        <a href="/template/dashboard.html" class="animate-move">
            <img src="/template/jpg/question.482x512.png" alt="Support Image" class="w-24 h-24 mr-4 rounded-md">
        </a>
      
        <!-- Animasi teks di samping gambar -->
        <span class="animate-text absolute left-16 ml-4 text-black font-bold" style="font-family: 'Poppins', sans-serif; top: -10px;">
            Apakah Kamu Admin?!
          <p></p>
        </span>
    </div>
    
    <!-- R U ADMIN SECTION END -->

    <!-- <div class="p-4 max-w-sm w-full mx-auto">
        <div class="animate-pulse flex justify-center items-center space-x-4">
            <div class="my-4 text-gray-600 font-sans font-semibold" style="text-align: center; font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 1.125rem;">
                KENAPEE
            </div>
            
        </div>
    </div> -->
    

    <!-- ===== footer ===== -->
    <div class="px-4 pt-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
        <div class="grid gap-16 row-gap-10 mb-8 lg:grid-cols-6">
          <div class="md:max-w-md lg:col-span-2">
            <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center">
              <svg class="w-8 text-deep-purple-accent-400" viewBox="0 0 24 24" stroke-linejoin="round" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" stroke="currentColor" fill="none">
                <rect x="3" y="1" width="7" height="12"></rect>
                <rect x="3" y="17" width="7" height="6"></rect>
                <rect x="14" y="1" width="7" height="6"></rect>
                <rect x="14" y="11" width="7" height="12"></rect>
              </svg>
              <span class="ml-2 text-xl font-bold tracking-wide text-gray-800 uppercase">Company</span>
            </a>
            <div class="mt-4 lg:max-w-sm">
              <p class="text-sm text-gray-800">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
              </p>
              <p class="mt-4 text-sm text-gray-800">
                Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-5 row-gap-8 lg:col-span-4 md:grid-cols-4">
            <div>
              <p class="font-semibold tracking-wide text-gray-800">Category</p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">News</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">World</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Games</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">References</a>
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold tracking-wide text-gray-800">Business</p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Web</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">eCommerce</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Business</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Entertainment</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Portfolio</a>
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold tracking-wide text-gray-800">Apples</p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Media</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Brochure</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Nonprofit</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Educational</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Projects</a>
                </li>
              </ul>
            </div>
            <div>
              <p class="font-semibold tracking-wide text-gray-800">Cherry</p>
              <ul class="mt-2 space-y-2">
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Infopreneur</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Personal</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Wiki</a>
                </li>
                <li>
                  <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-deep-purple-accent-400">Forum</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-between pt-5 pb-10 border-t sm:flex-row">
          <p class="text-sm text-gray-600">
            © Copyright 2020 Lorem Inc. All rights reserved.
          </p>
          <div class="flex items-center mt-4 space-x-4 sm:mt-0">
            <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
                <path
                  d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"
                ></path>
              </svg>
            </a>
            <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 30 30" fill="currentColor" class="h-6">
                <circle cx="15" cy="15" r="4"></circle>
                <path
                  d="M19.999,3h-10C6.14,3,3,6.141,3,10.001v10C3,23.86,6.141,27,10.001,27h10C23.86,27,27,23.859,27,19.999v-10   C27,6.14,23.859,3,19.999,3z M15,21c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S18.309,21,15,21z M22,9c-0.552,0-1-0.448-1-1   c0-0.552,0.448-1,1-1s1,0.448,1,1C23,8.552,22.552,9,22,9z"
                ></path>
              </svg>
            </a>
            <a href="/" class="text-gray-500 transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
                <path
                  d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    <!-- FOOTER SESSION END -->


    <!-- ===== scripts ===== -->
<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"></script>
<script>
    AOS.init({
        once: true, // Animasi hanya terjadi satu kali saat elemen terlihat
        duration: 2000, // Durasi animasi default (dapat disesuaikan untuk setiap elemen)
    });
</script>
</body>
</html>
